@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'PPTelegraf';
  font-weight: 400;
  src: url('./assets/fonts/PPTelegraf-Regular.otf') format('opentype');
}

:root {
  --primary-clr: #fafafa;
  --secondary-clr: #151515;
  --enactus-yellow: #fcc025;
  --enactus-grey: #2f2e2e;
  --enactus-chrome: #faae32;
}

body {
  font-family: 'Inter', sans-serif;
}

h1 {
  @apply font-telegraf;
}

.contact-info {
  width: 45%;
  margin-bottom: 1rem;
}

.contact-info img {
  width: 100%;
}

.contact-details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.contact-details-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-inline: 1rem;
  gap: 0.5rem;
  text-align: center;
  height: 100%;
  width: 35%;
}

.contact-icon {
  font-size: 4dvw;
  border-radius: 50%;
  background-color: var(--enactus-chrome);
  color: var(--secondary-clr);
  padding: 0.5rem;
}

.contact-details-item p {
  font-size: 0.8dvw;
  font-weight: 500;
}

.contact-details-item p span {
  font-size: 1.06dvw;
  font-weight: 700;
  color: var(--enactus-yellow);
}
